<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
  <div th:replace="fragments/navbar :: nav"></div>
  <div class="container mt-5">
    <section>
      <h1 class="display-4 mb-4">Benvenuto nella Mia Pizzeria!</h1>
      <p class="lead">Scopri le nostre pizze artigianali, preparate con ingredienti freschi e genuini.</p>
      <a class="btn btn-primary btn-lg mt-3" th:href="@{/pizzas}">Guarda il menù</a>
    </section>
  </div>
  <div th:replace="fragments/scripts :: script"></div>
</body>

</html>