<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
  <div th:replace="fragments/navbar :: nav"></div>
  <div class="container mt-5">
    <section>
      <h2 class="mb-4">Le nostre pizze</h2>
      <div class="row g-3 mb-4 align-items-center">
        <div class="col-md-8 col-12">
          <form class="row g-3" method="get" th:action="@{/pizzas}">
            <div class="col-auto">
              <input type="text" class="form-control" name="name" placeholder="Cerca per nome..."
                th:value="${param.name}">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Cerca</button>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-12 text-md-end mt-2 mt-md-0">
          <a th:href="@{/pizzas/create}" class="btn btn-success">Aggiungi pizza</a>
        </div>
      </div>
      <div th:if="${#lists.isEmpty(pizzas)}" class="alert alert-warning text-center">
        Nessuna pizza disponibile!
      </div>
      <table th:unless="${#lists.isEmpty(pizzas)}" class="table table-striped table-hover align-middle"
        th:if="${pizzas}">
        <thead class="table-light">
          <tr>
            <th>Immagine</th>
            <th>Nome</th>
            <th>Ingredienti</th>
            <th>Prezzo</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
            <td><img th:src="*{image}" alt="Pizza"
                style="width: 80px; height: 80px; object-fit: cover; border-radius: 8px;"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{ingredients.toString().replaceAll('[\[\]]','')}"></td>
            <td th:text="|*{price} €|"></td>
            <td>
              <div class="d-flex gap-2">
                <a th:href="@{/pizzas/{id}(id=*{id})}" class="btn btn-sm btn-outline-primary">Dettagli</a>
                <a th:href="@{/pizzas/edit/{id}(id=*{id})}" class="btn btn-sm btn-outline-primary">Modifica</a>

                <a th:href="@{/pizzas/{id}/special-offers(id=*{id})}" class="btn btn-sm btn-outline-success"
                  title="Crea offerta speciale per questa pizza">
                  Crea offerta
                </a>

                <!-- Bottone per far apparire modale -->
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                  th:attr="data-bs-target=${'#delete-modal-' + pizza.id}">Elimina</button>

                <!-- Modale -->
                <div class="modal fade" th:id="${'delete-modal-' + pizza.id}" tabindex="-1"
                  aria-labelledby="delete-modal" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Cancellazione di [[${pizza.name}]]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Sei sicuro di voler cancellare la pizza "[[${pizza.name}]]"?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                        <form th:action="@{/pizzas/delete/{id}(id=${pizza.id})}" method="post">
                          <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div th:replace="fragments/scripts :: script"></div>
</body>

</html>